<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <YooChoose_JsTracking>
            <version>0.0.1</version>
        </YooChoose_JsTracking>
    </modules>
    <global>
        <models>
            <yoochoose_jstracking>
                <class>YooChoose_JsTracking_Model</class>
            </yoochoose_jstracking>
        </models>
        <helpers>
            <yoochoose_jstracking>
                <class>YooChoose_JsTracking_Helper</class>
            </yoochoose_jstracking>
        </helpers>

        <blocks>
            <yoochoose_jstracking>
                <class>YooChoose_JsTracking_Block</class>
            </yoochoose_jstracking>
            <page>
                <rewrite>
                    <html_head>YooChoose_JsTracking_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
    <frontend>
        <routers>
            <yoochoose>
                <use>standard</use>
                <args>
                    <module>YooChoose_JsTracking</module>
                    <frontName>yoochoose</frontName>
                </args>
            </yoochoose>
        </routers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_finish>
                        <type>singleton</type>
                        <class>YooChoose_JsTracking_Model_Observer</class>
                        <method>trackBuy</method>
                    </checkout_finish>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <layout>
            <updates>
                <yoochoose_jstracking module="YooChoose_JsTracking">
                    <file>yoochoose_jstracking.xml</file>
                </yoochoose_jstracking>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_yoochoose>
                <observers>
                    <yoochoose>
                        <type>singleton</type>
                        <class>YooChoose_JsTracking_Model_Observer</class>
                        <method>adminSystemConfigChangedSectionYoochoose</method>
                    </yoochoose>
                </observers>
            </admin_system_config_changed_section_yoochoose>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yoochoose>
                                            <title>YooChoose</title>
                                        </yoochoose>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <yoochoose>
            <general>
                <disabled>0</disabled>
            </general>
            <crossselling>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>cross_selling</scenario>
                <row_count>4</row_count>
            </crossselling>
            <upselling>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>up_selling</scenario>
                <row_count>1</row_count>
            </upselling>
            <related>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>related_products</scenario>
                <row_count>6</row_count>
            </related>
            <bestseller>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>bestseller</scenario>
                <row_count>2</row_count>
            </bestseller>
            <personal>
                <display_yoochoose_recommendations>1</display_yoochoose_recommendations>
                <scenario>personal</scenario>
                <row_count>2</row_count>
            </personal>
        </yoochoose>
    </default>
</config>