<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <YooChoose_JsTracking>
            <version>0.0.1</version>
        </YooChoose_JsTracking>
    </modules>
    <global>
        <models>
            <yoochoose_jstracking>
                <class>YooChoose_JsTracking_Model</class>
            </yoochoose_jstracking>
        </models>
        <blocks>
            <yoochoose_jstracking>
                <class>YooChoose_JsTracking_Block</class>
            </yoochoose_jstracking>
            <page>
                <rewrite>
                    <html_head>YooChoose_JsTracking_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_finish>
                        <type>singleton</type>
                        <class>YooChoose_JsTracking_Model_Observer</class>
                        <method>trackBuy</method>
                    </checkout_finish>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <layout>
            <updates>
                <yoochoose_jstracking module="YooChoose_JsTracking">
                    <file>yoochoose_jstracking.xml</file>
                </yoochoose_jstracking>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yoochoose>
                                            <title>YooChoose</title>
                                        </yoochoose>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>