<?xml version="1.0"?>
        <!--urn:magento:framework:Acl/etc/acl.xsd-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="yoochoose_successful_order" instance="Yoochoose\Tracking\Model\Observer\SuccessfulOrder"/>
    </event>
</config>